<!DOCTYPE html>

<html lang="en">
<title>Project2 | Food Bank</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Lato", sans-serif
  }

  .w3-bar,
  h1,
  button {
    font-family: "Montserrat", sans-serif
  }

  .fa-anchor,
  .fa-coffee {
    font-size: 200px
  }
</style>

<body>

  <!-- Second Grid -->
  <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-third w3-center">
        <img src = "http://pluspng.com/img-png/google-maps-png-google-maps-icon-1600.png" width = "250" height = "250">
      </div>

      <div class="w3-twothird">
        <h1>Google Maps will be below</h1>
      </div>
    </div>
  </div>

  </div>

  <div id="map"></div>
    <script>
      var map;

      function init() {
        navigator.geolocation.getCurrentPosition(initMap);
      }

      function initMap(position) {
        var curLat = position.coords.latitude;
        var curLon = position.coords.longitude;
        var currentLocation = new google.maps.LatLng(curLat, curLon);

        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: new google.maps.LatLng(curLat, curLon),
          mapTypeId: 'terrain'
        });

        var request = {
          location: currentLocation,
          radius: '2000',
          type: ['food bank']
        };

        service = new google.maps.places.PlacesService(map);
        service.nearbySearch(request, function(results, status) {
          if (status === google.maps.places.PlacesServiceStatus.OK) {
            for (var i = 0; i < results.length; i++) {
              createMarker(results[i])
            }

            map.setCenter(currentLocation)
          }
        })
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJltxwttdE1THuT4ogdGHtsM6VWJ_T1mU&libraries=places&callback=init&v=3.5">
    </script>
  </div>
  </div>

  <div class="wrapper">
    <div class="profile">
      <table id="google_map_results" border="2" style="margin-left: auto; margin-right: auto;">
        <thead>
          <th>Name: </th>
          <th>Address: </th>
          <th>Operating Hours: </th>
        </thead>
        <tbody>

        </tbody>
      </table>

    </div>
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-64 w3-center w3-opacity">
    <div class="w3-xlarge w3-padding-32">
    </div>
    <p>Project developed by <a href="https://github.com/comp129-spr19/project2-osvaldo-s-children"
        target="_blank">Osvaldo's Children</a></p>
  </footer>


</body>

</html>