<!DOCTYPE html>
<html lang="en">
<title>Project2 | Food Bank</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Lato", sans-serif
  }

  tr.title_entry
  {
    cursor:pointer;
  }

  .w3-bar,
  h1,
  button {
    font-family: "Montserrat", sans-serif
  }

  .fa-anchor,
  .fa-coffee {
    font-size: 200px
  }
</style>

<body>

  <!-- Header -->
  <header class="w3-container w3-grey w3-center" style="padding:25px 1px">
    <h1 class="w3-margin w3-jumbo">Event Registry</h1>
    <p class="w3-small"></p>
  </header>

  <!-- Second Grid -->

  <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
      
    {% comment %} <div class="w3-content"> {% endcomment %}
      <div class="w3-third w3-center">
        <br><br>
        <img height=200 src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fblog.uwgb.edu%2Fstudent-life%2Ffiles%2F2014%2F08%2Fpaper_grocery_bag_filled_with_produce_by_mike44nh-d4usz6t.png&f=1" >
      </div>
      <div class="w3-twothird">
        <!-- <h1>Food Bank Events and Needs</h1>
        {% for foodbanks in object_list %}
        <h2>{{foodbanks.food_bank_name}}</h2>
        <h2>{{foodbanks.food_bank_address}}</h2>
        {% endfor %} -->
    </div>

  <!---<div class="w3-container w3-black w3-center w3-opacity w3-padding-54">
    <h1 class="w3-margin w3-large">Helping your local community grow</h1>
  </div>-->

  <!-- Footer -->
  <div>
    <footer class="w3-container w3-padding-16 w3-center w3-opacity">
      <div class="w3-xlarge w3-padding-22">
      </div>
      <p>Project developed by <a href="https://github.com/comp129-spr19/project2-osvaldo-s-children"
          target="_blank">Osvaldo's Children</a></p>
    </footer>
  </div>


</body>

<!--This allows the information in the row to be clicked on and drop down when clicked-->
<script>
  $('.title_entry').click(function(){
    $(this).find('span').text(function(_, value){return value=='-'?'+':'-'});
      $(this).nextUntil('tr.title_entry').slideToggle(100, function(){
      });
  });
</script>

</html>